body{
    background: #8f8f8f url("../images/bg.png");
    border-top: 5px solid  #7e7e7e;
    color:  #8f8f8f;
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    color: #b2b2b2;
    height: 30px;
    padding: 0 10px;
    vertical-align: top;
}
.wrapper{
    margin: auto;
    width: 960px;
}
header {
    overflow: hidden;
    margin: 0;
    padding: 26px 0 22px 0;
    font-size: 0;
}
header a{
    float: left;
}
form[name="search"]{
    display: table;
    float: right;
    width: 200px;
}
header input[type="text"]{
    width: 136px;
}
input[type="submit"]{
    background-color: #29c5e6;
    border: none;
    color: #fff;
    height: 32px;
    font: 14px Oswald, sans-serif;
    margin: 0;
    padding-left: 12.5px;
    padding-right: 12.5px;
    text-transform: uppercase;
}
input[type="submit"]::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
.top-menu{
    background-color: #f3f3f3;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.top-menu a{
    color: #b2b2b2;
    text-decoration: none;
    text-transform: uppercase;
}
.top-menu li{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: inline-block;
    font: 14px Oswald, sans-serif;
    letter-spacing: 0.6px;
    list-style-position: inside;
    padding: 8px 30px 9px;
    margin: 0;
}
.top-menu .active{
    background-color: #29c5e6;
    border-color: #29c5e6;
    color: #ffffff;
    text-transform: uppercase;
}
.heading{
    background: url(../images/h1-bg.png);
    margin: 30px 0;
    line-height: 0;

}
.heading h1{
    background: url(../images/bg.png);
    color: #7e7e7e;
    display: inline-block;
    font: 40px/35px Oswald, sans-serif;
    letter-spacing: 1.6px;
    margin: 0 0 0 20px;
    padding: 0 6px 0 11px;
    text-transform: uppercase;
}
aside {
    float: left;
    width: 250px;
}
.about-main {
    margin-left: 280px;
}
.aside-menu{
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
}
.aside-menu ul{
    margin: 0;
    padding: 0;
}
.aside-menu .aside-submenu{
    margin-bottom: -12px;
}
.aside-menu a{
    color: #8f8f8f;
    text-decoration: none;
}
.aside-menu li{
    border-bottom: 1px solid #e7e7e7;
    font: 14px/14px Oswald, sans-serif;
    font-weight: 300;
    list-style-position: inside;
    list-style-type: square;
    padding: 12px 12px 12px 13px;
    text-transform: uppercase;
}
.aside-menu li:last-child{
    border-bottom: none;
}
.aside-menu li.active{
    color: #29c5e6;
    padding-bottom: 12px;
}
.aside-menu .aside-submenu .active{
    background: #f3f3f3;
    border-bottom: 1px solid #dfdfdf;
}
.aside-menu .aside-submenu li{
    background: #e7e7e7;
    border-color: #dfdfdf;
    font-size: 12px;
    list-style-type: none;
    margin: 0 -12px;
    padding: 7px 30px 8px;
}
.aside-menu .aside-submenu li:first-child{
    margin-top: 13px;
}
aside h2{
    background-color: #29c5e6;
    color: #ffffff;
    font: 14px/14px 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    margin: 30px 0 0 0;
    padding: 12px;
    text-transform: uppercase;
}
aside p{
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    margin-top: 0;
    padding: 12px 10px 7px;
}
section{
    padding: 0;
}
.about-main blockquote{
    background-color: #29c5e6;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0 0 15px 0;
    padding: 16px 31px 12px 18px;
}
.about-main blockquote p{
    color: #ffffff;
    font-size: 33px;
    font-style: italic;
    letter-spacing: -0.0001em;
    line-height: 34px;
    margin: 0;
    text-transform: uppercase;
}
blockquote cite{
    color: #1d8ea6;
    display: block;
    font-size: 20px;
    font-style: normal;
    padding-right: 5px;
    padding-top: 10px;
    text-align: right;
}
section > p {
    line-height: 18px;
    margin: 11px 0 18px;
}
section figure{
    display: inline-block;
    margin: 0;
    padding: 0;
}
section figure img{
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}
section figure + figure{
    margin-left: 28px;
}
.content-gallery figcaption{
    font: 12px 'Oswald', sans-serif;
    font-weight: 300;
    padding: 4px 0 19px;
    text-align: center;
    text-transform: uppercase;
}
.about-main h2{
    background-color: #29c5e6;
    color: #ffffff;
    font: 30px/44px 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1.2px;
    margin: 30px 0 0;
    padding-left: 8px;
    text-transform: uppercase;
}
.about-main h2:nth-of-type(2){
    margin-top: 0;
}
.our-team figure:not(:first-child){
    margin-left: 43px;
}
.our-team figure figcaption{
    color:  #8f8f8f;
    font: 16px/28px 'Oswald', sans-serif;
    font-weight: 300;
}
.our-team figure span{
    color:  #29c5e6;
    display: block;
    font: 14px/16px 'Oswald', sans-serif;
    font-weight: 300;
}
div.our-team{
    margin-top: 20px;
}
.our-team:last-child{
    margin-bottom: 50px;
}
footer{
    background-color:  #7e7e7e;
    font-size: 0px;
}
footer div:not(.wrapper){
    display: inline-block;
    vertical-align: top;

}
footer .wrapper{
    display: table;
}
footer h1{
    border-bottom: 1px solid #919191;
    color: #ffffff;
    font: 14px 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    margin: 10px 0 0 0;
    padding-bottom: 1px;
    text-transform: uppercase;
}
footer .twitter h1{
    margin-bottom: 7px;
}
footer .sitemap h1{
    margin-bottom: 4px;
}
footer .social h1{
    margin-bottom: 11px;
}
.twitter{
    width: 300px;
    margin-left: 12px;

    margin-right: 20px;
}
.twitter time{
    font-size: 11px;
    line-height: 11px;
}
.twitter a{;
    color: #b4aeae;
    font-size: 11px;
    line-height: 11px;
}
.twitter p{
    color: #dbdbdb;
    font-size: 11px;
    margin: 6px 0 14px;
    padding-right: 23px;
    text-align: justify;
    line-height: 14px;
}
.sitemap{
    width: 150px;
    margin-right: 19px;
}
.sitemap div{
    margin: 0;
    padding: 0;
    float: left;
    width: 65px;
    font-size: 12px;
}
.sitemap div:first-of-type{
    margin-right: 19px;
}
.sitemap a{
    color: #dbdbdb;
    font-size: 12px;
    line-height: 20px;
    padding-right: 29px;
    text-decoration: none;

}
.social{
    width: 130px;

}
.social ul{
    margin: 0;
    padding: 0;
}
.social li{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social ul:first-of-type li{
     padding: 0 10px 7px 0;
 }
.social ul:last-of-type li:nth-child(odd) {
    padding-right: 8px;
}
.social ul:last-of-type li:nth-child(even) {
    padding-right: 7px;
}
.footer-logo{
    text-align: right;
    width: 329px;
    margin: 30px 0 0;
}
.footer-logo small,
.footer-logo small a{
    color: #dbdbdb;
    font-size: 10px;
    line-height: 28px;
}
.slider-container{
    font-size: 0;
    margin-top: 30px;
}
.slide{
    background-image: url(http://placehold.it/960x280);
    height: 200px;
    padding: 35px 38px 45px;
    margin: 0;

}
.slide h1{
    color: #5a5a5a;
    font: 42px/1 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.slide p{
    color: #acacac;
    font: 20px/34px 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0;
}
.paginator{
    background: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
    padding: 12px 12px 13px 12px;
}
.paginator ol{
   counter-reset: list;
    padding: 0;
    margin: 0;
}
.paginator li{
    list-style-type: none;
    display: inline-block;
    font: 18px/1 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    width: 240px;
}
.paginator li:last-child{
    width: 216px;
}
.paginator li:before{
    background: #8f8f8f;
    color: #ffffff;
    counter-increment: list;
    content: counter(list);
    display: inline-block;
    font-size: 16px;
    height: 20px;
    margin-right: 12px;
    padding-top: 4px;
    text-align: center;
    width: 24px;
}
.paginator li.active{
    color: #29c5e6;
}
.paginator li.active:before{
    background: #29c5e6;
}
section div.heading{
    margin: 33px 0 16px 0;
    position: relative;
}
.article-team .heading{
    margin: 33px 0 18px 0;
}
section .heading h1{
    font: 14px/1 'Oswald', sans-serif;
    letter-spacing: 0.62px;
    margin: 0 0 0 15px;
    padding: 0 5px;
}
section div.heading:before{
    position: absolute;
    background: #29c5e6;
    content: '';
    height: 15px;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 15px;
}
section:last-child .heading{
    margin-top: 25px;
    margin-bottom: 20px;
}
.articles{
    padding: 0 10px;

}
article a{
    color: #525252;
    position: relative;
    text-decoration: none;
}
article a:before {
    border-bottom: 1px solid #a4a4a4;
    bottom: 0;
    box-shadow: 0 1px 0 #cecece;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
}
.articles article{
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
.articles-two-column article{
    width: 460px;
}
.articles-three-column article{
    width: 300px;
}
.articles-two-column article:first-of-type,
.articles-three-column article:not(:last-of-type){
    margin-right: 16px;
}
.articles-two-column article:last-of-type blockquote{
    font-style: italic;
}
.articles article blockquote,
.articles article p{
    text-align: justify;
    margin: 0;
    margin-bottom: 13px;
    line-height: 16px;
}
.articles figure{
    float: left;
    margin-right: 20px;
}
.article-container{
    margin-left: 158px;
}
.articles p.read-more{
   margin-bottom: 6px;
}
.articles-three-column p.read-more{
    margin-top: 20px;
    margin-bottom: 0;

}
.articles-two-column footer{
    font-size: 12px;
    background: none;
    color: #525252;
}
.articles-three-column h2{
    color: #525252;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;
}
.articles-three-column .article-team p{
    font-size: 11px;
    line-height: 14px;
    margin: 2px 0 7px 0;
}
.articles-three-column figure{
    margin: 0 12px 0 0;
    padding-top: 3px;
}
.articles .article-team div:not(.heading){
    margin-top: 5px;
}
.client-logos{
    width: 100%;
    text-align: center;
    margin-bottom: 47px;
}
.client-logos img{
    border: 0;
    outline: 0;

}